# IDE
.cache/
.idea/
.vscode/
build/
cmake-build-debug/
compile_commands.json

# CMake
.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
nnvm/cmake_install.cmake
nnvm/Makefile

# Misc
nnvm/Frontend/.antlr/
riscv64-unknown-linux-gnu-gcc
