.cache/clangd/index
.cmake/api/v1/reply
CMakeFiles
build
nnvm/cmake_install.cmake
compile_commands.json
cmake_install.cmake
CMakeCache.txt
nnvm/Makefile
Makefile
.vscode/
nnvm/Frontend/.antlr/
riscv64-unknown-linux-gnu-gcc